@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;400;500;600;700&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap')

$color: #222

*
  box-sizing: border-box

html
  height: 100%

body
  margin: 0
  height: 100%

#__next
  color: black
  font-family: 'Noto Sans', 'Zen Kaku Gothic New', 'Noto Sans Arabic', sans-serif, 'Noto Emoji'
  font-weight: 400
  box-sizing: border-box

  padding: 1em
  max-height: 100%

  display: flex
  flex-direction: row
  gap: 1em

nav
  width: 12em
  max-width: 20%
  min-height: 100%

nav, main, section
  border-block-start: 1px solid
  border-inline-start: 1px solid
  padding-block-start: 1em
  padding-inline-start: 1em
  margin: 0

main
  flex-grow: 1
  overflow: auto

nav, main, section
  display: flex
  flex-direction: column
  row-gap: 1em

h1
  font-size: 120%
  a
    text-decoration: none

h2
  font-size: 120%

h1, h2
  font-weight: inherit

th
  font-weight: 500

h1, h2
  text-transform: uppercase
  margin: 0
  padding: 0

a
  color: inherit

thead tr th
  writing-mode: vertical-lr
  text-align: right

table
  border-collapse: collapse
  margin-left: auto
  margin-right: auto
  max-width: 60%

  tr
    border-bottom: 1px solid lightgray

    td
      vertical-align: center
    td, th
      padding: .5em
      word-wrap: normal

      &[colspan]
        text-align: center
        border: 1px solid lightgray

      &[rowspan]
        vertical-align: middle
        border: 1px solid lightgray

  tr:not(:first-child) th
    text-align: right

ul
  list-style-position: inside
  margin: 0

ul:not(ul *)
  padding-left: 0

li
  list-style-type: square

li + li
  margin-top: 0.125em

.tables
  display: flex
  justify-content: space-evenly

p
  margin: 0

rt
  font-family: 'Noto Sans Mono'
  color: darkgray

.textareas
  width: 100%
  display: flex
  flex-direction: row
  gap: 1em

  textarea
    flex: 1
    height: 16em
    color: inherit
    background-color: inherit
    outline: none
    resize: none
    font: inherit
    border-color: lightgray

.toc-list
  padding: 0
  margin: 0

.toc-list-item
  list-style-position: outside
  list-style-type: none
  border-left: 5px lightgray solid
  padding-left: 1em
  margin: 0
  padding: 0.25em

.is-active-li
  border-left: 5px black solid

.toc-link
  text-decoration: none
